.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark {
    color: #fff;
    background-color: #2b2a2a;
}

.cats {
    color: #000;
    background-image: url(./assets/catsbg.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
}

.error404 {
    width: 15rem;
    margin-top: 2em;
    margin-bottom: .6em;
}
